*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Navbar */
.navbar {
   border: 1px solid black;
   height: 75px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   /* justify-content: center; */
   /* align-content: space-between; */
   /* vertical-align: top; */
   /* margin-left: auto; */
   /* margin-right: auto; */
   /* text-align: center; */
}
.navlinks, .sociallinks {
    display: flex;
}

.navlinks li, 
.sociallinks li {
    list-style: none;
    margin: 10px;
    
}

.navlinks a,
.sociallinks a {
    text-decoration: none;
    color: black;
}
.navlinks, .navbar h1, .sociallinks {
    border: 1px solid red;
}
.navbar h2 {
    display: flex;
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
/* .sociallinks {
    display: flex;
    align-items: flex-end;

} */
.inline-block {
    display: inline-block;
    vertical-align: top;
}
nav {
    width: 50%;
    margin-left: auto;
}

.sociallinks {
    margin-left: auto;
}

.navlinks {
    margin-right: auto;
}

/* Jumbotron */
.jumbotron {
    text-align: center;
    background-color: 	#e6d1d1;
    height: 700px;
    padding: 250px;
}

h1, p {
    padding: 15px;
}


.btn {
    border-radius: 25px;

}

.button:hover {
    background-color: black;
    color: #e6d1d1;
  }

/* Intro */

.intro {
    padding: 200px;
}

.column {
    float: left;
    width: 50%;
    padding: 200px;
  }
  
hr.solid {
    border-top: 2px solid #bbb;
}

/* Case Study */
.case {
    padding: 200px;
}

h2, p {
    padding: 15px;
}

.row {
    display: flex;
  }
  
.column {
    flex: 33.33%;
    padding: 5px;
}



/* Footer */
footer {
    border: 1px solid black;
    height: 75px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    justify-items: center;
}

.contactlinks {
    display: flex;
    text-decoration: none;
    list-style: none;
}

.contactlinks a {
    text-decoration: none;
    color: black;
    margin: 10px;
}

/* footer ul {
    display: flex;
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
} */

